*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    font-family: sans-serif;
    /* min-height: 1280px; // change width as needed to fit your page */
}
.calculator{
    background-color: black;
    width: 50vh;
    height: 95vh;
    border-radius: 50px;
    margin: 2rem auto;
    padding: 1rem;
    color: white;
    /* position: relative; */
    /* min-height: 50vh; */
    min-height: 70vh;
}

.clock{
    padding: 0 1rem;
}
.top-container{
    padding-left: 0 1rem;
    display: flex;
    justify-content: space-between;
    height: 15vh; // 250px
}
img{
    padding:0 1rem;
}
.value{
    font-size:7rem;
    font-weight: 300;
    height:158px;
    text-align: right;
    margin-right:0.5rem;
}
.buttons-container{
display: grid;
grid-template-columns:repeat(4, 1fr);
grid-template-rows:repeat(5, 1fr);
/* grid-gap: 0.5 rem; */
}
.button{
    height:10vh;
    width: 10vh;
    font-size: 2.8rem;
    border-radius: 50%;
    background:#333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:filter .3s;
    margin-top: 0.3rem; 
}

.button:active,
.button:focus{
    filter: brightness(120%);
}
.button.function{
color: black;
background: #a5a5a5;
}
.button.operator{
    background:#f1a33c ;
}
.button.number-0{
    width: 10rem; 
    grid-column: 1/span 2; 
    border-radius:55px ;
    justify-content: flex-start;
    padding-left: 1rem;
}

@media only screen and (min-width: 1600px) {
    
    .button.number-0{
        width: 13rem; 
        grid-column: 1/span 2; 
        border-radius:55px ;
        justify-content: flex-start;
        padding-left: 1rem;
    }
}

/* @media only screen and (max-width: 300px) {
    .calculator{
        width: 75vw;
        /* height: 90vh; */
        block-size: 100px;
    }
} */